/* main styles */

#head_home{
    text-decoration: underline black;
    position: sticky;
    font-size: 50pt;
    display: block;
    color: green;
    text-shadow: 1px 1px white;
    text-align: center;
    font-family: 'Lobster', cursive;
}

#body_home{
    background-image: linear-gradient(to bottom right, darkgreen, purple, darkgreen);
}



#body_head{
    color: darkgreen;
    text-shadow: 1px 1px white;
    font-size: 25pt;
}

#profile_picture{
    height: 200px;
    width: 200px;
    border-radius: 25px;
    box-shadow: 5px 5px white;
}

.navi{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-top: 1rem;
}

#ul_home{
    list-style: none;
    float: right;
}

li{
    display: inline;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 15pt;
    margin-left: 1rem;
    padding: 1rem;
    box-shadow: 5px 5px black;
}

li a{
    color: darkgreen;
    text-shadow: 1px 1px white;
    transition: ease-out;
    transition-timing-function: 500ms;
}

li a:hover{
    display: inline;
    color: white;
    background-image: url(../img/border_img.jpg);
    background-position: center;
    padding: 2rem; 
    border: 1px solid black;
    border-radius: 25px;
}


.column {
    float: left;
    width: 50%;
    font-size: 12pt;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row{
    clear: both;
}

.filler{
    border: 2px solid black;
    border-radius: 25px;
    padding: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 15pt;
    color: white;
    text-shadow: 2px 2px black;
    box-shadow: 5px 5px black;}

#body_text{
    border: 2px solid black;
    border-radius: 25px;
    padding: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 15pt;
    color: white;
    text-shadow: 2px 2px black;
    box-shadow: 5px 5px black;
}

#body_head{
    border: 2px solid black;
    box-shadow: 5px 5px black;
    border-radius: 25px;
    padding: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

#welcome{
    display: block;
    color:green;
    text-shadow: 1px 1px white;
    font-size: 40pt;
    text-align: center;
    background-image: url(../img/border_img.jpg);
    background-position-y: center;
    border-radius: 25px;
    border: 2px black;
    box-shadow: 5px 5px black;
    font-family: 'Lobster', cursive;
}

.audio_file{
    margin: 40px;
}

#footer{
  
    position: relative;
    clear:both;
    text-align: center;
    width: 100%;
    height: 2.5rem;
    bottom:0;
    background-color: transparent;
    border: 2px solid black;
    box-shadow: 5px 5px black;
    border-radius: 25px;
    color: darkgreen;
    text-shadow: 1px 1px white;

}

.column1 {
    float: left;
    width: 33.33%;
}

.row1:after {
    content: "";
    display: table;
    clear: both;
}

#player{
    width: 200px;
    padding: 1rem;
}

/* contact page styles */

.contact_header{
    display: inline-flexbox;
    font-size: 40pt;
    text-shadow: 2px 2px white;
    text-align: center;
    color: darkgreen;
    text-decoration: underline black;
    background-image: url(/Final_Project/img/border_image\ \(2\).jpg);
    background-position-y: center;
    font-family: 'Lobster', cursive;

}

.contact_info{
    font-size: 25pt;
    text-align: center;
    padding: 5rem;
}

#cont_li a{
    font-size: 30pt;
    text-align: center;
    color: darkgreen;
    text-decoration: underline black;
    
}

.contact_body{
    background-image: linear-gradient(to bottom right, darkgreen, purple, darkgreen);
}

#comment_tag{
    text-decoration: underline darkgreen;
    text-align: center;
}

.guest_book{
    text-align: center;
    border: solid black;
    box-shadow: 5px 5px black;
    border-radius: 25px;
    clear: both;
    margin: 25px;
    padding: 25px;
}

/* gallery page */

.column2 {
    float: left;
    width: 33.33%;
}

.row2{
    border: 10px double black;
    padding: 1rem;
    margin: 1rem
}
.row2:after {
    content: "";
    display: table;
    clear: both;
}

#gallery_img{
    height: 200px;
    width: 200px;
    border-radius: 25px;
    padding: 1rem;
}

.map{
    text-align: center;
}

.map_1{
    border: 5px double darkgreen;
    border-radius: 25%;
    box-shadow: 10px 10px black;
    width: 250px;
    height: 250px;
}
